@if (user) {
<div *transloco="let t;" class="profile-view">
    <div class="profile__body">
        <div class="name-view">
            <span class="user-name">{{ user.name }}</span>
            <span class="user-edit">{{t('profile.edit')}}</span>
        </div>
        <div class="online-state">
            <div class="online-state__dot" [ngClass]="{'--online': user.isOnline}"></div>
            <span class="online-state__desc">{{t('profile.is-online.' + user.isOnline.toString())}}</span>
        </div>
    </div>
    <div class="profile__mail">
        <app-icon-libary iconName="emailTag" class="icon-custom"></app-icon-libary>
        <div class="mailto">
            <span>{{t('mail.address')}}</span>
            <span class="recipient" [attr.aria-label]="t('mail.send', {'recipient': user.name})" role="button">me&#64;metoo.de</span>
        </div>
    </div>
    <app-button [filled]="true" icon="msg">{{t('profile.msg')}}</app-button>
</div>
}