@use "../../../scss/abstracts/" as *;
@use "../../../scss/boxes" as *;
@use "../../../scss/icons" as *;

.profile {

    &-view {
        @include dflex(center, center, 45px, column);
        width: 100%;
    }

    &__body {
        width: 100%;
        .name-view {
            @include dflex(space-between, $g: 16px);
            width: 100%;

            .user-name {
                font-weight: 700;
                font-size: min(6vw, 32px);
            }

            .user-edit {
                cursor: pointer;
                font-weight: 600;
                font-size: min(5vw, 18px);
                color: $colorPurple3;
            }
        }

        .online-state {
            align-self: flex-start;
            @include dflex(flex-start, $g: 15px);
            &__dot {
                width: 16px;
                height: 16px;
                background-color: $colorGray;
                border-radius: 50%;

                &.--online {
                    background-color: $colorOnline;
                }
            }

            &__desc {
                font-size: min(6vw, 20px);
            }
        }
    }

    &__mail {
        align-self: flex-start;
        @include dflex(flex-start, center, 20px, row);

        .icon-custom {
            align-self: flex-start;
        }

        .mailto {
            @include dflex(center, flex-start, 15px, column);

            > span {
                font-weight: 700;
                font-size: min(6vw, 20px);
            }

            .recipient {
                cursor: pointer;
                font-weight: 400;
                font-size: min(6vw, 18px);
                color: $colorMail;
            }
        }
    }
}


