@use "../../../shared/scss/abstracts/" as *;
@use "../../../shared/scss/icons" as *;

$desktopResolution: 850px;

.avatar-menu {
    position: relative;
    .popup-menu {
        display: none;
        &.--open {
            display: block;
        }
    }
}

.inner-wrapper {
    @include dflex($g: 20px);
    cursor: pointer;
    transition: all 100ms ease-in;

    .icon {
        @include hideWhenMobile($desktopResolution);
    }

    .icon--hovered {
        display: none;
    }

    &:hover {
        :not(.popup-menu) {
            color: $colorPurple3;
        }
        .icon {
            display: none;
            &--hovered {
                display: inline;
                @include hideWhenMobile($desktopResolution);
            }
        }
    }

    .user-name {
        font-weight: 700;
        font-size: clamp(18px, 2vw, 32px);
        @include hideWhenMobile($desktopResolution);
    }

    .avatar {
        position: relative;
        @include dflex();
        > img {
            border-radius: 50%;
            height: 70px;
            width: 70px;
        }
        .online-status {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 16px;
            height: 16px;
            border: 2px solid $colorBG;
            border-radius: 50%;
            &.is-online {
                background-color: $colorOnline;
            }
            &.is-away {
                background-color: $colorGray;
            }
            &.is-offline {
                background-color: $colorError;
            }
        }
    }
}
