@use "../../../shared/scss/abstracts/" as *;
@use "../../../shared/scss/icons" as *;

$desktopResolution: 950px;

.avatar-menu {
    position: relative;
    .popup-menu {
        display: none;
        &.--open {
            display: block;
        }
    }
}

.inner-wrapper {
    @include dflex($g: clamp(8px, 1vw, 20px));
    cursor: pointer;
    transition: all 100ms ease-in;

    .icon {
        @include hideWhenMobile($desktopResolution - 150px);
    }

    .icon--hovered {
        display: none;
    }

    &:hover {
        :not(.popup-menu) {
            color: $colorPurple3;
        }
        .icon {
            display: none;
            &--hovered {
                display: inline;
                @include hideWhenMobile($desktopResolution - 150px);
            }
        }
    }

    .user-name {
        font-weight: 700;
        font-size: clamp(18px, 2vw, 32px);
        @include hideWhenMobile($desktopResolution);
    }
}
