<section class="avatar-menu">
    <avatar-menu-popup class="popup-menu" [ngClass]="{'--open': workspace.currentDialog === 'settings'}"></avatar-menu-popup>
    <div class="inner-wrapper" (click)="workspace.openDialog('settings')">
        <span class="user-name">Frederik Beck</span>
        <user-avatar [size]="70" [hideUsername]="true"></user-avatar>
        <app-icon iconName="arrowDown" class="icon"></app-icon>
        <app-icon iconName="arrowDownPurple" class="icon icon--hovered"></app-icon>
    </div>
</section>