@use "../../shared/scss/abstracts/_index.scss" as *;

aside {
    border-radius: 30px;
    background-color: white;
}

chat-message {
    padding: 0 !important;
}

.headline {
    padding-bottom: 32px;
    padding: 32px clamp(20px, 5vw, 40px) 0;
    @include dflex(space-between, center, 5px);
    app-icon {
        display: flex;
        cursor: pointer;
    }
}

header {
    @include dflex(unset, center, 5px);
    h2 {
        margin: 0;
    }
    span {
        color: $colorPurple2;
    }
}

.message-field {
    padding: 25px clamp(10px, 4vw, 20px) 40px clamp(10px, 4vw, 20px);
}
