@use "./../../../shared/scss/abstracts/_index.scss" as *;
@use "./../../../shared/scss/_boxes.scss";

.box--floating {
  align-items: unset;
  border-top-left-radius: 0;
 
}



h2 {
  margin: 0;
}

header {
  margin-bottom: 23px;
  @include dflex(space-between, center);

  div {
    display: flex;
    gap: 15px;
  }
}

.channel-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;

  .save-btn {
    font-weight: 600;
    color: $colorPurple3;
    cursor: pointer;
    transition: transform 85ms ease-in-out;
    &:hover {
      transform: scale(1.05);
      color: $colorPurple1;
    }
  }
}

.close {
  transition: transform 85ms ease-in-out;
  &:hover {
    filter: $colorTransformPurple3;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-45 {
  margin-bottom: 45px;
}

.seperator {
  @include dflex();
  width: 95%;
  background-color: $colorLines;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

.created-by {
    font-size:18px ;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 24px;
        font-weight: 400;
        color: $colorPurple3;
    }
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    app-button {
    
        width: 204px;
    }
}

.before-edit-container {
  padding: 20px;
  margin-bottom: 20px;
  border: solid 1px $colorLines;
  border-radius: 20px;

  .seperator {
    width: 100%;
  }
}

.before-edit-content {
  font-size: 18px;
  @include dflex(unset, center, 10px);
}

.pop-up {
  position: absolute;
  width: 100%;
  max-width: 872px;
  max-height: 616px;
}