<div class="box--floating">
  <header>
    <div>
    <h2>#</h2>
    <h2 aria-label="">Entwicklerteam</h2>
  </div>
    <app-icon-libary aria-label="close-button" class="close" iconName="close"></app-icon-libary>
  </header>
  @if(editMode) {
  <div class="channel-name">
    <span aria-label="">Channel-Name</span> <span (click)="saveEdit()" class="save-btn" aria-label="">Speichern</span>
  </div>
  <app-input-fields  class="mb-30">
    <app-icon-libary #iconSlot iconName="tag"></app-icon-libary>
  </app-input-fields>
}@else {
  <div class="before-edit-container">
  <div class="channel-name">
    <span aria-label="">Channel-Name</span> <span (click)="saveEdit()" class="save-btn" aria-label="">Bearbeiten</span>
  </div>
  <div class="before-edit-content">
  <app-icon-libary #iconSlot iconName="tag"></app-icon-libary>
  <span>Entwicklerteam</span>
</div>
</div>
}

@if(editMode) {
  <div class="channel-name">
    <span aria-label="">Beschreibung</span> <span (click)="saveEdit()" class="save-btn" aria-label="">Speichern</span>
  </div>
  <app-input-fields placeholder="Dein Text hier" class="mb-30">
  </app-input-fields>
  <div class="seperator mb-30"></div>

  <div class="created-by mb-45">
    <span class="mb-20" aria-label="">Erstellt von</span>
    <h2 aria-label="">Noah Braun</h2>
  </div>
}@else {
  <div class="before-edit-container">
    <div class="channel-name">
      <span aria-label="">Channel-Name</span> <span (click)="saveEdit()" class="save-btn" aria-label="">Bearbeiten</span>
    </div>
    <div class="before-edit-content mb-30">
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellendus consequuntur excepturi nostrum corporis doloremque illum nulla.</span>
  </div>
  <div class="seperator mb-30"></div>
  <div class="created-by">
    <span class="mb-20"  aria-label="">Erstellt von</span>
    <h2 aria-label="">Noah Braun</h2>
  </div>
  </div>
  
}
  <div class="btn-container">
  <app-button aria-label="" [filled]="true"> Channel verlassen</app-button>
</div>
</div>
