<div class="box--floating">
  <header>
    <div>
    <h2>#</h2>
    <h2>Entwicklerteam</h2>
  </div>
    <app-icon-libary class="close" iconName="close"></app-icon-libary>
  </header>
  <div class="channel-name">
    <span>Channel-Name</span> <span (click)="saveEdit()" class="save-btn">Speichern</span>
  </div>
  <app-input-fields class="mb-30">
    <app-icon-libary #iconSlot iconName="tag"></app-icon-libary>
  </app-input-fields>
  <div class="channel-name">
    <span>Beschreibung</span> <span (click)="saveEdit()" class="save-btn">Speichern</span>
  </div>
  <app-input-fields class="mb-30">
  </app-input-fields>
  <div class="seperator mb-30"></div>
  <div class="created-by">
    <span>Erstellt von</span>
    <h2>Noah Braun</h2>
  </div>

  <div class="btn-container">
  <app-button [filled]="true"> Channel verlassen</app-button>
</div>
</div>
