@use '../../../shared/scss/abstracts/_index.scss' as*;
@use '../../../shared/scss/_boxes.scss';

div {
    word-wrap: break-word;
    max-width: 175px;
    max-height: fit-content;
    min-width: 50px;
    min-height: 25px;
    position: absolute;
    z-index: 20;
    pointer-events: all;
    display: flex;
   font-size: 14px; 
   
   
}
.box--floating {
    padding: 12px;
}