<div class="message-container">
  @if(this.showImgPreview) {
    <div class="img-showcase-container"><img class="img-showcase" [src]="this.dbStorage.imgDownloadUrl" alt=""></div>
  }
 
  <form [ngStyle]="{ 'margin-left.px': this.showImgPreview ? 50 : 0 }" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" action="" id="submit-message" >
  <textarea
    [placeholder]="placeholder"
    [attr.pattern]="pattern ? pattern : null"
    [required]="required"
    name="message"
    [(ngModel)]="message"
    (keydown.enter)="submitForm(myForm, $event)"
  ></textarea>
 
</form>

  <div class="icon-container">
    <button [ngClass]="{'disabled-btn': this.isUploading,'send':!this.isUploading}" (click)="submitForm(myForm, $event)">
      <app-icon iconName="sendBlue"></app-icon>
    </button>
    <div class="icon-line">
      <div class="icon-bg-hover">
        <app-icon [ngClass]="{'disabled-btn':!this.imgSend}"  (click)="triggerFileInput()" iconName="addGrey"></app-icon>
      </div>
      <div class="seperator"></div>
      <div class="icon-bg-hover">
        <app-icon (click)="emojiPickerToggle()" iconName="emojiGrey"></app-icon>
      </div>
      <div class="icon-bg-hover">
        <app-icon iconName="emailTagGrey"></app-icon>
      </div>
    </div>
  </div>
</div>
@if(this.isUploading) {
  <div id="loading-bar-container">
    <div [ngStyle]="{'width': this.uploadProgress + '%'}" id="loading-bar"></div>
  </div>
}

