<div class="message-container">
  <textarea
    [placeholder]="placeholder"
    [attr.pattern]="pattern ? pattern : null"
    [required]="required"
  ></textarea>

  <div class="icon-container">
    <div class="send">
      <app-icon-libary iconName="send"></app-icon-libary>
    </div>
    <div class="icon-line">
      <div class="icon-bg-hover">
        <app-icon-libary iconName="addGrey"></app-icon-libary>
      </div>
      <div class="seperator"></div>
      <div class="icon-bg-hover">
        <app-icon-libary iconName="emojiGrey"></app-icon-libary>
      </div>
      <div class="icon-bg-hover">
        <app-icon-libary iconName="tagGrey"></app-icon-libary>
      </div>
    </div>
  </div>
</div>
