<div class="message-container">

  <form action="" id="submit-message" >
  <textarea
    [placeholder]="placeholder"
    [attr.pattern]="pattern ? pattern : null"
    [required]="required"
  ></textarea>
</form>

  <div class="icon-container">
    <div class="send">
      <app-icon iconName="sendBlue"></app-icon>
    </div>
    <div class="icon-line">
      <div class="icon-bg-hover">
        <app-icon iconName="addGrey"></app-icon>
      </div>
      <div class="seperator"></div>
      <div class="icon-bg-hover">
        <app-icon iconName="emojiGrey"></app-icon>
      </div>
      <div class="icon-bg-hover">
        <app-icon iconName="emailTagGrey"></app-icon>
      </div>
    </div>
  </div>
</div>
