@use "../../../scss/abstracts/_index.scss" as *;

textarea {
  color: black;
  font-size: 18px;
  resize: none;
  overflow-y: auto;
  border: none;
  width: 95%;
  box-sizing: border-box;
//   &::-webkit-scrollbar { to be discussed
//     display: none; 
// }
  &:focus {
    outline: none;
  }
}

.message-container {
  width: 100%;
  border-radius: 20px;
  border: solid 1px $colorLines;
  padding: 20px;
}

.icon-container {
    @include dflex(space-between,center,0,row-reverse);
  app-icon-libary {
    cursor: pointer;
    
  }

  .send {
    &:hover {
      filter: $colorTransformPurple2;

      // Hover-Effekt auf die sibling icon-line anwenden
      ~ .icon-line app-icon-libary {
        filter: brightness(0) saturate(100%) !important;
      }
    }
  }
}

.icon-line {
  @include dflex(center, center, 10px);
  &:hover :not(.seperator) {
    filter: brightness(0) saturate(100%);
  }
  app-icon-libary {
    &:hover {
      filter: $colorTransformPurple1 !important;
    }
  }
}

.seperator {
  width: 1px;
  height: 40px;
  background-color: $colorLines;
}
