<div class="password-reset-container">
  <div class="password-reset-card">
    <div class="title-wrapper">
    <button class="back-button">
      <a routerLink="/reset-password-email">
      <app-icon iconName="back"></app-icon>
    </a>
    </button>
    <h1 class="password-reset-title">Passwort zurücksetzen</h1>
  </div>
    <form>
      <app-input-fields (valueChange)="inputCheck.onPasswordChange($event)" placeholder="Neues Passwort" type="password" [required]="true">
        <app-icon #iconSlot iconName="password"></app-icon>
      </app-input-fields>

      <app-input-fields placeholder="Neues Kennwort bestätigen" type="password" [required]="true">
        <app-icon #iconSlot iconName="password"></app-icon>
      </app-input-fields>

      <div class="action-buttons">
        <app-button (click)="this.submitNewPassword()" [disabled]="false" [filled]="true" label="Passwort ändern">Passwort ändern</app-button>
      </div>
    </form>
  </div>
</div>
