@use "../../shared/scss/_boxes.scss" as *;
@use "../../shared/scss/_hovers.scss" as *;
@use "../../shared/scss/abstracts" as *;
@use "../../shared/scss/icons" as *;

.password-reset-card {
  @extend .box--floating;
  @include dflex(center, center, 0, column);
  overflow: hidden;
  @include forcedSize(692px, null !important);
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  height: 432px;
  max-height: 432px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  img {
    width: 24px !important;
  }
  @extend .icon--hover;
  @extend .hover-circle;
}

.title-wrapper {
  @include dflex(center,center);
 margin-bottom: 24px;
 gap: 18px;
}

.password-reset-title {
  font-size: 48px;
  font-weight: 700;
  color: $colorPurple1;
margin: 0;
}

form {
  width: 90%;
}



::ng-deep app-input-fields input {
  margin-bottom: 20px;
  background-color: $colorBG;
  border-radius: 8px;
  border: none !important;
  padding: 18px;
  font-size: 16px;
  @extend .normal--hover;
}

.action-buttons {
  display: flex;
  justify-content: end;
  margin-top: 24px;

  app-button {
      white-space: nowrap;
  }
}

::ng-deep .icon-placement {
  top: 35% !important;
}