<div class="password-reset-container">
  <div class="password-reset-card">
    <button class="back-button">
      <app-icon iconName="back"></app-icon>
    </button>
    <h1 class="password-reset-title">Passwort zurücksetzen</h1>

    <form>
      <app-input-fields placeholder="Neues Passwort" type="password" [required]="true">
        <app-icon #iconSlot iconName="password"></app-icon>
      </app-input-fields>

      <app-input-fields placeholder="Neues Kennwort bestätigen" type="password" [required]="true">
        <app-icon #iconSlot iconName="password"></app-icon>
      </app-input-fields>

      <div class="action-buttons">
        <app-button [disabled]="false" [filled]="true" label="Passwort ändern">Passwort ändern</app-button>
      </div>
    </form>
  </div>
</div>
