<div class="avatar-picker-container">
  <div class="avatar-picker-card">
    <button class="back-button">
      <a routerLink="/signup">
      <app-icon iconName="back"></app-icon>
      </a>
    </button>
    <h1 class="avatar-picker-title">Wähle deinen Avatar</h1>

    <div class="avatar-preview">
      <img
        [src]="'assets/images/avatars/avatar-picker-unset.png'"
        alt="User Avatar"
      />
      <span>Frederick Beck</span>
    </div>

    <div class="avatar-list">
      <span class="avatar-list-title">Aus der Liste wählen</span>
      <div class="avatars">
      @for(avatar of avatarImages; track avatar; let i = $index) {
        <img (click)="setPhotoPath(avatar)" [src]="avatar" [alt]="'Avatar' + (i+1)">
      }
      </div>
    </div>

    <div class="upload-section">
      <span>Eigenes Bild hochladen</span>
      <div>
        <input
          type="file"
          accept="image/*"
          id="fileUpload"
          style="display: none"
        />
        <label for="fileUpload">
          <app-button [filled]="false" label="Datei hochladen">Dateien hochladen</app-button>
        </label>
      </div>
    </div>


    <div class="action-buttons">
      <app-button (click)="authService.createUserWithEmailAndPassword(email,password,name,profilePicture)"  [filled]="true" label="Weiter"> <a>Weiter</a></app-button>
    </div>
  </div>
  <app-popup-notification
    *ngIf="showPopup"
    [message]="popupMessage"
  ></app-popup-notification>
</div>
