<div class="avatar-picker-container">
  <div class="avatar-picker-card">
    <button class="back-button">
      <app-icon-libary iconName="back"></app-icon-libary>
    </button>
    <h1 class="avatar-picker-title">Wähle deinen Avatar</h1>

    <div class="avatar-preview">
      <img
        [src]="'assets/images/avatars/avatar-picker-unset.png'"
        alt="User Avatar"
      />
      <span>Frederick Beck</span>
    </div>

    <div class="avatar-list">
      <span class="avatar-list-title">Aus der Liste wählen</span>
      <div class="avatars">
        <img src="assets/images/avatars/avatar1.png" alt="Avatar 1" />
        <img src="assets/images/avatars/avatar2.png" alt="Avatar 2" />
        <img src="assets/images/avatars/avatar3.png" alt="Avatar 3" />
        <img src="assets/images/avatars/avatar4.png" alt="Avatar 4" />
        <img src="assets/images/avatars/avatar5.png" alt="Avatar 5" />
      </div>
    </div>

    <div class="upload-section">
      <span>Eigenes Bild hochladen</span>
      <div>
        <input
          type="file"
          accept="image/*"
          id="fileUpload"
          style="display: none"
        />
        <label for="fileUpload">
          <app-button label="Datei hochladen">Dateien hochladen</app-button>
        </label>
      </div>
    </div>

  
    <div class="action-buttons">
      <app-button [filled]="true" label="Weiter">Weiter</app-button>
    </div>
  </div>
</div>
