
<div class="reaction-popover" [ngClass]="{'msg-ownership': isOwner, '--hovered': isDisplayed}">
    @for (icon of regularIcons; track $index) {
    <div class="icon--hoverable">
        <app-icon [iconName]="icon"></app-icon>
    </div>
    }
    @if (isOwner) {
    <div class="icon--hoverable">
        <app-icon (click)="openEditField()" iconName="moreVert"></app-icon>
    </div>
    }
   
</div>
@if(this.editMode) {
    <div class="edit-field">
        <span (click)="">Edit</span>
        <span (click)="">Delete</span>
</div>
}