@use '../../../../scss/abstracts/' as *;
@use '../../../../scss/icons' as *;

.reaction-popover{
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    right: clamp(2vw, 43px, 4vw);
    left: unset;
    border: 1px solid $colorLines;
    border-radius: 30px 0 30px 30px;
    padding: 3px 15px 3px 20px;
    background-color: white;
    transform: translate(20%, 0%);

    &.msg-ownership {
        right: unset;
        left: clamp(2vw, 43px, 4vw);
        transform: translate(-20%, 0%);
    }

    &.--hovered {
        @include dflex($g: 5px);
        animation: fadeIn 200ms forwards;
        transition: all 2s;
    }
}

@keyframes fadeIn {
    0% {

    }

    100% {
        transform: translate(0, 0%);
    }
}

.edit-field {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    gap: 15px;
    box-shadow: 0px 6px 14px 0px #00000033;
    padding: 10px 15px;
    border-radius: 0 30px 30px 30px;
    width: 269px;
    background-color: white;
    box-sizing: border-box;
    align-items: center;

}
