@use '../../../../scss/abstracts/' as *;

.reaction-popover{
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    right: clamp(2vw, 43px, 4vw);
    left: unset;
    border: 1px solid $colorLines;
    border-radius: 30px 0 30px 30px;
    padding: 3px 15px 3px 20px;
    background-color: white;
    transform: translate(20%, 0%);

    &.msg-ownership {
        right: unset;
        left: clamp(2vw, 43px, 4vw);
        transform: translate(-20%, 0%);
    }

    &.--hovered {
        display: unset;
        animation: fadeIn 200ms forwards;
    }
}

@keyframes fadeIn {
    0% {

    }

    100% {
        transform: translate(0, 0%);
    }
}