@use '../scss/abstracts/' as *;

.box--floating {
    @include dflex(flex-start, flex-start, 0, column);
    background-color: white;
    box-shadow: 0px 6px 10px 0px #00000033;
    border-radius: 30px;
    padding: 40px clamp(2vw, 40px, 4vw);
    max-height: calc(100vh - (2.5 * clamp(2vw, 40px, 4vw)));
    overflow-y: scroll;
    box-sizing: border-box; // added from phillip testing for style fixing
    &.no-overflow {
        overflow: hidden;
    }
}

.box--bordered {
    @include dflex(flex-start, center, 0, column);
    border-radius: 20px;
    border: 1px solid $colorLines;
    padding: 20px;
    box-sizing: border-box;// added from phillip testing for style fixing
}