@use './abstracts/' as *;

.icon {
    @include dflex();
    height: 40px;
    width: 40px;
  
    &:hover {
      background-color: $colorBG;
      border-radius: 50%;

      ::ng-deep > *:first-child {
        filter: $colorTransformPurple3;
      }
    }
  }