@use './abstracts/' as *;

.icon-base {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.icon--hoverable {
    @include dflex();
    height: 40px;
    width: 40px;
    cursor: pointer;
  
    &:hover {
      background-color: $colorBG;
      border-radius: 50%;
    }

    &.icon--hoverfilter {
      &:hover {
        ::ng-deep > *:first-child {
          filter: $colorTransformPurple3;
        }
      }
    }
  }