@if (user) {
<div #profileBox class="profile box--floating no-overflow">
    <ng-container *transloco="let t;">
        <div class="profile__header">
            <span>{{t('profile.title')}}</span>
            <app-icon iconName="close" class="icon--hoverable icon--hoverfilter" height="14px" width="14px" suffix="svg"></app-icon>
        </div>
        <div #scrollableArea class="profile--scrollable">
            <div class="profile__avatar"></div>
            @if (view == "regular") {
            <app-profile-view (editView)="openEditView()" [user]="user" class="profile__body"></app-profile-view>
            } @else if (view == "edit") {
            <app-profile-edit (regularView)="openRegularView()" [user]="user" class="profile__body"></app-profile-edit>
            }
        </div>
    </ng-container>
</div>
}