@use "./../../../shared/scss/abstracts/" as *;

.search__main {
    @include dflex(flex-start, center, 10px);
    width: 100%;
    padding: 8px 20px;
    background-color: white;
    border-radius: 42px;
    border: 1px solid $colorLines;
    outline: 1px;
    cursor: text;
    > input {
        width: 100%;
        border: none;
        outline: none;
        font-size: clamp(16px, 2vw, 18px);
        color: $colorGray;
    }
    &:focus-within {
        outline: 2px solid #797cf3;
        border: none;
    }
}
