@use "../../../shared/scss/abstracts/" as *;

.workspace-fab {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: clamp(15%, 25vh, 30%);
    @include dflex(space-between, $g: 10px, $d: row-reverse);
    padding: 14px 23px;
    box-sizing: border-box;
    cursor: pointer;
    transform-origin: bottom left;
    transform: translate(-50%, 0%);
    rotate: 90deg;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
    user-select: none;
    z-index: 10;
    & * {
        transition: all 80ms ease-in;
    }

    > span {
        font-size: 20px;
        font-weight: 500;
        flex: 1;
        text-align: center;
        rotate: 180deg;
    }

    > img {
        rotate: 90deg;

        &.--open {
            rotate: -90deg;
        }
    }

    &:hover {
        > span {
            color: $colorPurple3;
            font-weight: 700;
        }
        > img {
            filter: $colorTransformPurple1;
        }
    }
}

@media (max-width: $mobileVersion) {
  .workspace-fab {
    display: none;
  }
}
