<div class="main-container">
  <app-header [isSmallScreen]="isSmallScreen" [showChatWindow]="showChatWindow"  (closeChatEvent)="closeChat()"></app-header>
  <main>

    <app-sidebar
      *ngIf="!isSmallScreen || (isSmallScreen && !showChatWindow)"
      (contactSelected)="openChat()">
    </app-sidebar>


    <div class="app-container" *ngIf="!isSmallScreen || (isSmallScreen && showChatWindow)">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-icon *ngIf="!showChatWindow" (click)="openEmptyChat()"
  class="sendPmLogo"
  #iconSlot
  iconName="send-pm"
></app-icon>
</div>
<div *ngIf="workspace.currentDialog != null" class="overlay"></div>
