@use "../../../scss/abstracts/" as *;
@use "../../../scss/boxes" as *;

.profile-menu {
    @include dflex(center, center, 15px, column);
    width: fit-content;
    border-top-right-radius: 0;
    padding: 30px;

    .link {
        cursor: pointer;
        padding: 10px 45px;
        font-weight: 600;
        font-size: clamp(16px, 5vw, 24px);
        border-radius: 100px;
        box-sizing: border-box;
        transition: all 120ms;
        &:hover {
            color: $colorPurple3;
            background-color: $colorBG;
        }
    }

    .language-flags {
        @include dflex($g: 16px);
        .flag-icon {
            cursor: pointer;
            height: 30px;
            border-radius: 50%;
            border: 2px solid transparent;
            rotate: 0;
            &.--active {
                cursor: unset;
                border: 2px solid $colorPurple1;
                background-color: $colorPurple1;
            }
            &:hover:not(.--active) {
                animation: shake 600ms ease-in-out;
                border: 2px solid $colorPurple2;
                background-color: $colorPurple2;
            }
        }
    }
}

@keyframes shake {
    0% {
        rotate: 0;
    }
    25% {
        rotate: -30deg;
    }
    50% {
        rotate: 20deg;
    }
    75% {
        rotate: -10deg;
    }
    100% {
        rotate: 0;
    }
}