@use '../../scss/abstracts/' as *;

.user-information {
    @include dflex(flex-start, center, $g: 15px);
}

.avatar {
    position: relative;
    @include dflex();
    > img {
        border-radius: 50%;
    }
    .online-status {
        position: absolute;
        bottom: 0;
        right: 0;
        border: 2px solid $colorBG;
        border-radius: 50%;
        &.is-online {
            background-color: $colorOnline;
        }
        &.is-away {
            background-color: $colorGray;
        }
        &.is-offline {
            background-color: $colorError;
        }
    }
}

.user-name {
    font-size: clamp(16px, 2vw, 20px);
    &.--striked {
        text-decoration: line-through;
    }
}

.hoverListEffect {
    &:hover {
        background-color: #ECEEFE;
        border-radius: 30px;
        cursor: pointer;
    }
}