<div
  *transloco="let t"
  class="user-information"
  role="status"
  [attr.aria-label]="returnAriaLabel()"
  [ngClass]="{'hoverListEffect':userListHover}"
>
  <div class="avatar">
    <img
      [src]="photoURL"
      [ngStyle]="{ height: size + 'px', width: size + 'px' }"
      draggable="false"
      alt=""
      crossorigin="anonymous"
    />
    @if (!hideOnlineStatus) {
    <div
      class="online-status"
      [ngStyle]="{ width: size / 5 + 'px', height: size / 5 + 'px' }"
      [ngClass]="isOnline"
    ></div>
    }
  </div>
  @if (!hideUsername) {

  <span
    aria-hidden="true"
    [ngClass]="{ '--striked': strikeUsername }"
    class="user-name"
    >{{ returnUsername() }}</span
  >
  }
</div>
