@use './shared/scss/abstracts/' as *;

span {
    color: $colorOnline;
}

main {
    @include dflex(unset,unset, 20px)
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 25px 20px;
    position: relative;
}


.app-container {
    flex: 1;
}