$colorBG: #ECEEFE;
$colorError: #ED1E79;
$colorGray: #686868;
$colorLines: #ADB0D9;  //border lines 
$colorMail: #1381FF;
$colorOnline: #92C83E;
$colorPurple1: #444DF2;
$colorTransformPurple1: brightness(0) saturate(100%) invert(25%) sepia(80%) saturate(4822%) hue-rotate(236deg) brightness(98%) contrast(93%);
$colorTransformPurple2: brightness(0) saturate(100%) invert(46%) sepia(82%) saturate(643%) hue-rotate(204deg) brightness(98%) contrast(95%);
$colorPurple2: #797EF3;
$colorPurple3: #535AF1;