@use "../../shared/scss/_boxes.scss" as *;
@use "../../shared/scss/_hovers.scss" as *;
@use "../../shared/scss/abstracts" as *;
@use "../../shared/scss/icons" as *;

.reset-password-card {
  @extend .box--floating;
  @include dflex(center, center, 0, column);
  overflow: hidden;
  @include forcedSize(692px, null !important);
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  position: relative;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 24px;
  top: 64px;
  img {
    width: 24px !important;
  }
  @extend .icon--hover;
  @extend .hover-circle;
}

.reset-password-title {
  font-size: 46px;
  font-weight: 700;
  color: $colorPurple1;
  margin-block-start: 0.33em;
  margin-block-end: 0;
}

.reset-password-subtitle {
  width: 90%;
  font-size: 20px;
  color: $colorGray;
  margin-bottom: 20px;
}

.reset-password-info {
  font-size: 16px;
  color: $colorGray;
  margin: 16px 0;
  width: 90%;
}

::ng-deep app-input-fields input {
  margin-bottom: 32px;
  background-color: $colorBG;
  border: none !important;
  @extend .normal--hover;
}

form {
  width: 90%;
}

::ng-deep .icon-placement {
  top: 33% !important;
}

.action-buttons {
  display: flex;
  justify-content: end;
  margin-top: 24px;

  app-button {
      width: 33%;
      white-space: nowrap;
  }
}
