<workspace-fab></workspace-fab>
<aside (scroll)="onUserListScroll($event)" *transloco="let t; prefix:'sidebar'" [ngClass]="{'sidebar-closed': !workspace.isOpen}">
  <header class="mb-25">
    <div class="dev-space">
      <img src="./assets/images/logo/workspace.png" alt="" />
      <h2>Devspace</h2>
    </div>
    <app-icon class="icon--hover scale" iconName="edit"></app-icon>
  </header>
  <div class="drop-down mb-30">
    <div class="channel-list" (click)="toggleList(0)">
      <app-icon
        class="simple-animation"
        [ngStyle]="{
          transform: !toggleChannel[0] ? 'rotate(270deg  )' : 'rotate(0deg)'
        }"
        iconName="arrowDrop"
      ></app-icon>
      <app-icon iconName="workspaces"></app-icon>
      <h3>{{t('sections.channels')}}</h3>
    </div>
    <div class="hover-circle">
      <app-icon (click)="workspace.openDialog('createChannel')" class="icon--hover" iconName="add"></app-icon>
    </div>
  </div>
  <div
    class="drop-down-container mb-25"
    [ngClass]="{ expanded: toggleChannel[0], collapsed: !toggleChannel[0] }"
  >
    <div class="drop-down-wrapper mb-25">
      @for(placeholder of [1,2]; track placeholder) {
      <div [ngClass]="{ selected: selected }" class="channel-tab">
        <app-icon iconName="tag"></app-icon>
        <span>Entwicklerteam</span>
      </div>
      }
    </div>
    <div role="button" [attr.aria-label]="t('buttons.add-channel')" class="add-channel icon--hover">
      <app-icon iconName="addCircle"></app-icon>
      <span aria-hidden="true">{{t('buttons.add-channel')}}</span>
    </div>
  </div>
  <div class="drop-down mb-30">
    <div class="channel-list" (click)="toggleList(1)">
      <app-icon
        class="simple-animation"
        [ngStyle]="{
          transform: !toggleChannel[1] ? 'rotate(270deg  )' : 'rotate(0deg)'
        }"
        iconName="arrowDrop"
      ></app-icon>
      <app-icon iconName="accCircle"></app-icon>
      <h3>{{t('sections.directs')}}</h3>
    </div>
  </div>
  <div
  class="drop-down-container mb-25"
  [ngClass]="{ expanded: toggleChannel[1], collapsed: !toggleChannel[1] }"
>
  <div class="drop-down-wrapper">
    @for(user of userList;  track user.displayName;) {
    <user-avatar [owner]="user.uid === authService.getCurrentUser()?.uid" (click)="routeToPrivateChat(user.uid)" [photoURL]="user.photoURL ? user.photoURL : '/assets/images/avatars/demo_avatar.png'" [user]="user" [userListHover]="true" [size]="50"></user-avatar>
    }
  </div>
</div>
</aside>


