@use "../../shared/scss/abstracts/_index.scss" as *;
@use "../../shared/scss/_hovers.scss";
aside {
  padding: 32px 30px 32px 30px;
  max-width: calc(366px - 60px);
  max-height: calc(940px - 64px);
  width: calc(366px - 60px);
  height: calc(940px - 64px);
}

header {
  @include dflex(space-between, center, 15px);
}

.dev-space {
  @include dflex(flex-start, center, 15px);
  > h2 {
    margin: 0;
  }
}

.channels {
  @include dflex(space-between);
  > .channel-list {
    @include dflex();
    > :nth-child(2) {
      margin-left: 15px;
    }
    > :nth-child(3) {
      margin-left: 10px;
    }

    app-icon:nth-child(1) {
      @include dflex(center);
      width: 30px;
      height: 30px;
    }

    &:hover {
      color: $colorPurple3;
      cursor: pointer;
      app-icon {
        filter: $colorTransformPurple3;
      }
      app-icon:nth-child(1) {
        transform: scale(1.1);
      }
    }
  }

  app-icon {
    @include dflex(center);
    width: 24px;
    height: 24px;
  }
  h3 {
    margin: 0;

    font-size: 20px;
  }
}

.channel-container {
  padding: 0 25px;

  .add-channel {
    padding: 0 20px;
    @include dflex(unset, center, 10px);
    font-size: 18px;
    font-weight: 400;
  }
}

.channel-wrapper {
  @include dflex(unset, unset, 13px, column);
  font-size: 18px;
  font-weight: 400;
  max-height: fit-content;
  overflow-y: auto;

  .channel-tab {
    padding: 0 20px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.selected {
  font-weight: 700;
  color: $colorPurple3;
}
