<div class="wrapper" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
    <app-reaction-popover [userMessage]="userMessage" [isOwner]="isOwner" [isDisplayed]="displayPopover"></app-reaction-popover>
    <div *transloco="let t;" class="message-container" [ngClass]="{'msg-ownership': isOwner}">
        <div class="avatar">
            <img [src]="avatarPath" alt="avatar">
        </div>
        <article class="msg" [ngClass]="{'msg-ownership': isOwner}">
            <div class="msg__header" [ngClass]="{'msg-ownership': isOwner}">
                <span class="user-name" role="button" [attr.aria-label]="t('profile.open', {'name': 'Noah Braun'})">{{userName}}</span>
                <span class="timestamp">{{messageSendTime}}</span>
            </div>
            <div class="msg__body" [ngClass]="{'msg-ownership': isOwner, 'img-display':messageAttachment}">
                @if(messageAttachment) {
                    <img loading="lazy" style="height: 325px ; width: 500px;" [src]="messageAttachment">
                }
                {{userMessage.message}}</div>
            <app-reaction-bar [userMessage]="userMessage" (isPickerActive)="onEmojiPickerChange($event)" [toggleEmojiPicker]="toggleEmojiPicker" [isOwner]="isOwner" style="width: 100%"></app-reaction-bar>
            <div class="msg__footer">
                <span class="subthread-link" role="button" [attr.aria-label]="t(translateReplyAmount(), {'amount': replyAmount}) + t('chat.subthread.open')">
                    {{t(translateReplyAmount(), {'amount': replyAmount})}}
                </span>
                <span class="timestamp">Letzte Antwort 14:00</span>
            </div>
        </article>
    </div>
</div>