<div class="message-container">
    <img src="" alt="" class="avatar" alt="avatar">
    <article class="msg">
        <div class="msg__header">
            <span class="user-name">Noah Braun</span>
            <span class="timestamp">14:25 Uhr</span>
        </div>
        <div class="msg__body">Welche Version von Angular ist aktuell?</div>
        <div class="msg__footer">
            <span class="subthread-link">2 Antworten</span>
            <span class="timestamp">Letzte Antwort 14:56 Uhr</span>
        </div>
    </article>
</div>