@use "../../shared/scss/abstracts/" as *;
@use "../../shared/scss/abstracts/variables" as *;



header {
    margin-bottom: 20px;
    .wrapper {
        background-color: $colorBG;
        @include dflex(flex-start, $g: clamp(10px, 4vw, 80px));

        .logo {
            @include dflex(flex-start, center);
            > img {
                width: min(240px, 100% - 2em);
                user-select: none;
            }
        }

        .toolbar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex: 1;
            @media (orientation: landscape) and (min-width: $mobileVersion) and (pointer: fine) {
                justify-content: space-between;
                gap: 40px;
            }
            user-select: none;
        }
    }
}

.searchbar {
    @include dflex(center, center);
    flex: 1;
    &.searchbar--desktop {
        @include hideWhenMobile($mobileVersion);
    }

    &.searchbar--mobile {
        margin-top: min(32px, 8vh - 2rem);
        @include hideWhenDesktop($mobileVersion);
    }
}

.logoText{
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;

}

@media(max-width:$mobileVersion) {
  .searchbar{
    background-color: white;
    padding: 30px;
  }

  header {
    margin-bottom: 0;
    padding: 20px 0 0 0 ;
  }
  .wrapper {
    padding: 0 20px 0 20px;
  }
}

@media(max-width:$mobileVersion) {

}
