<header>
    <div class="wrapper">
      <div class="logo">
        <img *ngIf="!showChatWindow" class="daBubbleLogo" src="/assets/images/logo/logo_dabubble.webp" aria-hidden="true" alt="" draggable="false">
        <img *ngIf="isSmallScreen && showChatWindow" (click)="closeChat()" class="devspaceLogo" src="/assets/images/logo/workspace.png" alt="">
        <span *ngIf="isSmallScreen && showChatWindow" class="logoText">Devspace</span>
      </div>
        <div class="toolbar">
            <channel-searchbar class="searchbar searchbar--desktop"></channel-searchbar>
            <avatar-menu></avatar-menu>
        </div>
    </div>
    <channel-searchbar class="searchbar searchbar--mobile"></channel-searchbar>
</header>
