@use "../shared/scss/abstracts/" as *;
@use "../shared/scss/_boxes.scss" as *;
@use "../shared/scss/_hovers.scss" as *;
@use "../shared/scss/icons" as *;

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-signup-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  img {
    width: 150px;
  }
}
