
<div *ngIf="showAnimation" class="animation">
  <div class="animation-container">
    <div class="logo-wrapper">
      <app-icon class="dabubble-logo-animation" iconName="dabubble-logo" ></app-icon>
    </div>
    <span class="animation-text">DABubble</span>
  </div>
</div>


<section *ngIf="!showAnimation">
  <div class="logo-signup-container">
    <div class="logo-container" routerLink="/">
      <app-icon class="dabubble-logo" #iconSlot iconName="dabubble-logo"></app-icon>
      <span>DABubble</span>
    </div>

    <div>
      <div class="signUp-container">
        <span>Neu bei DABubble?</span>
        <span class="hover-box">
        <a class="links" routerLink="/signup">Konto erstellen</a>
      </span>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="privacy-container">
    <span><a class="links" routerLink="/impressum">Impressum</a></span>
    <span><a class="links" routerLink="/datenschutz">Datenschutz</a></span>
  </div>
</section>

