@if (showAnimation) {
<div class="animation">
  <div class="animation-container">
    <div class="logo-wrapper">
      <app-icon
        class="dabubble-logo-animation"
        iconName="dabubble-logo"
      ></app-icon>
    </div>
    <span aria-hidden="true" class="animation-text">DABubble</span>
  </div>
</div>
} @else {
<section *transloco="let t; prefix: 'landing-page.base'">
  <div class="logo-signup-container ">
    <div class="logo-container" routerLink="/">
      <app-icon
        class="dabubble-logo"
        #iconSlot
        iconName="dabubble-logo"
      ></app-icon>
      <span aria-hidden="true">DABubble</span>
    </div>

    <div>
      <div class="signUp-container desktop-version-signUp">
        <span>{{ t("new-to") }}</span>
        <span class="hover-box">
          <a class="links" routerLink="/signup">{{ t("create-account") }}</a>
        </span>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>


  </div>
  <div class="privacy-container">
    <span
      ><a class="links" routerLink="/impressum">{{ t("imprint") }}</a></span
    >
    <span
      ><a class="links" routerLink="/datenschutz">{{
        t("privacy-notice")
      }}</a></span
    >
  </div>
  <div class="signUp-container mobile-version-signUp">
    <span>{{ t("new-to") }}</span>
    <span class="hover-box">
      <a class="links" routerLink="/signup">{{ t("create-account") }}</a>
    </span>
  </div>
</section>
}
