<!-- <section>
  <div class="logo-signup-container">
    <div class="logo-container">
      <app-icon
        class="dabubble-logo"
        #iconSlot
        iconName="dabubble-logo"
      ></app-icon>
      <span>DABubble</span>
    </div>

    <div>
      <div class="signUp-container">
        <span>Neu bei DABubble?</span>
        <span><a href="">Konto erstellen</a></span>
      </div>
    </div>
  </div>
  <div>
    <app-sign-up></app-sign-up>
  </div>
  <div class="privacy-container">
    <span><a href="">Impressum</a></span>
    <span><a href="">Datenschutz</a></span>
  </div>
</section> -->
<section>
  <div class="animation-container">
    <div class="logo-wrapper">
      <app-icon class="dabubble-logo" iconName="dabubble-logo"></app-icon>
    </div>
    <span class="animation-text">DABubble</span>
  </div>
</section>

