@use "../shared/scss/abstracts/" as *;

section {
    width: 100vw;
    
    background-color: $colorBG;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

