<div class="box--floating no-overflow">
  <div class="headline">
    <h2>Mitglieder</h2>
    <div class="bg-circle-close">
      <app-icon class="close--hover" iconName="close"></app-icon>
    </div>
    
  </div>

  <app-user-avatar-tag [isYou]="true"></app-user-avatar-tag>
  <app-user-avatar-tag></app-user-avatar-tag>
  <app-user-avatar-tag></app-user-avatar-tag>
  <div class="btn-wrapper">
    <div class="bg-circle"><app-icon iconName="personAdd"></app-icon>
    </div>
    <span>Mitglieder hinzufügen</span>
  </div>

</div>
