.icon-placement {
    position: absolute;
    margin-left: 32px;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
}

img {
    vertical-align: middle;
    &.--rounded {
        border-radius: 50%;
    }
}