@use '../../shared/scss/abstracts/_index.scss';
@use '../../shared/scss/_boxes.scss';

.box--floating {
    align-items: unset;
}

header {

}

.channel-name {
    display: flex;  //change that later to the mixin
    justify-content: space-between;
}