@use '../../../shared/scss/abstracts/_index.scss' as* ;
@use '../../../shared/scss/_boxes.scss';
@use '../../../shared/scss/_hovers.scss';

header {
    width: 100%;
    @include dflex(space-between);

    .hover-circle {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

