/* You can add global styles to this file, and also import other style files */
@use "./app/shared/scss/fonts";

html {
        scroll-behavior: smooth;
}

body {
        margin: 0;
        padding: 64px;
}

* {
        font-family: "Nunito";
}
