/* You can add global styles to this file, and also import other style files */
@use "./app/shared/scss/fonts";
@use "./app/shared/scss/abstracts/_colors.scss" as *;

html {
        scroll-behavior: smooth;
}

body {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        margin: 0;
        // padding: min(64px, 5vw);
        background-color: $colorBG;
        min-height: 100vh;
        box-sizing: border-box;
}

* {
        font-family: "Nunito", Arial, Helvetica, sans-serif;
}