<div
  class="signup-container"
  *transloco="let t; prefix: 'landing-page.sign-up'"
>
  <div class="signup-card">
    <button
      type="button"
      class="back-button"
      [attr.aria-label]="t('buttons.back')"
      routerLink="/"
    >
      <app-icon iconName="back"></app-icon>
    </button>
    <div class="header-container">
      <h1 class="signup-title">{{ t("headline") }}</h1>
    </div>
    <p class="signup-subtitle">
      {{ t("description") }}
    </p>

    <form (ngSubmit)="onSubmit()">
      <app-input-fields
        [placeholder]="t('name.placeholder')"
        type="text"
        [required]="true"
        (valueChange)="inputCheck.onNameChange($event)"
        (blurEvent)="inputCheck.onInputLeaveName('name', inputCheck.name)"
      >
        <app-icon #iconSlot iconName="user"></app-icon>
      </app-input-fields>
      <span ValidationError="name">{{ t("name.error") }} </span>
      <app-input-fields
        (valueChange)="inputCheck.onEmailChange($event)"
        (blurEvent)="inputCheck.onInputLeaveEmail('email', inputCheck.email)"
        [placeholder]="t('email.placeholder')"
        type="text"
        [required]="true"
      >
        <app-icon #iconSlot iconName="mailReg"></app-icon>
      </app-input-fields>
      <span ValidationError="email">{{ inputCheck.emailErrorMessage }}</span>
      <app-input-fields
        (valueChange)="inputCheck.onPasswordChange($event)"
        (blurEvent)="
          inputCheck.onInputLeavePassword('password', inputCheck.password)
        "
        placeholder="Passwort"
        type="password"
        [required]="true"
      >
        <app-icon #iconSlot iconName="password"></app-icon>
      </app-input-fields>
      <span
        ValidationError="password"
        (mouseleave)="this.leaveToolTip('password')"
        (mouseenter)="this.hoverOvertoolTip('password')"
        >{{ t("password.tooltip.base") }}</span
      >
      @if(mouseOverPasswordTip){
      <tooltip>
        <span #tooltip>{{ t("password.tooltip.content") }}</span>
      </tooltip>
      }
      <label class="privacy-check">
        <input
          (click)="inputCheck.toggleLegalNotice()"
          type="checkbox"
          required
        />
        {{ t("privacy-notice.p1") }}
        <a href="#">{{ t("privacy-notice.p2") }}</a>
        {{ t("privacy-notice.p3") }}
      </label>

      <div class="action-buttons">
        <app-button
          (buttonClick)="onSubmit()"
          [disabled]="!inputCheck.checkIsFormValid()"
          [filled]="true"
        >
          <a>{{ t("buttons.next") }}</a>
        </app-button>
      </div>
    </form>
  </div>
</div>
