<div class="signup-container">
  <div class="signup-card">
    <button class="back-button" routerLink="/">
      <app-icon iconName="back"></app-icon>
    </button>
    <div class="header-container">
      <h1 class="signup-title">Konto erstellen</h1>
    </div>
    <p class="signup-subtitle">
      Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
      DABubble-Konto.
    </p>

    <form (ngSubmit)="onSubmit()">
      
      <app-input-fields
        placeholder="Name und Nachname"
        type="text"
        [required]="true"
        (valueChange)="inputCheck.onNameChange($event)"
        
      >
        <app-icon #iconSlot iconName="user"></app-icon>
      </app-input-fields>
      <span [ValidationError]="this.inputCheck.ValidationError" >Error Message</span> 
      <app-input-fields
      (valueChange)="inputCheck.onEmailChange($event)"
        placeholder="beispielname@email.com"
        type="text"
        [required]="true"
      >
        <app-icon #iconSlot iconName="mailReg"></app-icon>
      </app-input-fields>

      <app-input-fields
        (valueChange)="inputCheck.onPasswordChange($event)"
        placeholder="Passwort"
        type="password"
        [required]="true"
      >
        <app-icon #iconSlot iconName="password"></app-icon>
      </app-input-fields>

      <label class="privacy-check">
        <input (click)="inputCheck.toggleLegalNotice()" type="checkbox" required />
        Ich stimme der <a href="#">Datenschutzerklärung </a> zu.
      </label>

      <div class="action-buttons">
        <app-button (buttonClick)="onSubmit()" [disabled]="inputCheck.checkIsFormValid()" [filled]="true" label="Weiter">
          <a>Weiter</a>
        </app-button>
      </div>
    </form>
  </div>
</div>
   