@use "../../shared/scss/_boxes.scss" as *;
@use "../../shared/scss/abstracts" as *;
@use "../../shared/scss/_hovers.scss" as *;

$input-button-height: 60px;

.login-card {
  @extend .box--floating;
  @include dflex(center, center, 0, column);
  overflow: hidden;
  @include forcedSize(600px, null !important);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.login-title {
  font-size: 46px;
  font-weight: 700;
  color: $colorPurple1;
  margin-block-start: 0.33em;
  margin-block-end: 0;
}

.login-subtitle {
  width: 90%;
  font-size: 20px;
  color: $colorGray;
  margin-bottom: 20px;
}

.forgot-password {
  display: block;
  color: $colorPurple1;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 32px;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;

  span {
    font-size: 14px;
    color: $colorGray;
  }

  &:before,
  &:after {
    content: "";
    flex: 1;
    height: 1px;
    background: $colorLines;
    margin: 0 10px;
  }
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 24px;

  app-button {
    width: 36%;
    white-space: nowrap;
  }
}

::ng-deep app-input-fields input {
  margin-bottom: 32px;
  background-color: $colorBG;
  border: none !important;

  @extend .normal--hover;
}

.signin-google-btn {
  @include dflex(center, center, 10px, row);
  width: 100%;
  height: $input-button-height;
  background-color: $colorBG;
  border: none;
  padding: 12px 24px;
  color: $colorPurple1;
  font-weight: 700;
  font-size: 16px;
  border-radius: 30px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    background-color: darken($colorBG, 10%);
  }

  &:active {
    transform: scale(0.98);
  }
}

form {
  width: 90%;
}

::ng-deep .icon-placement {
  top: 33% !important;
}
