<section>
  <header>
    <div class="field--hover" (click)="workspace.openDialog('channelEdit')"[ngClass]="{'selected': workspace.currentDialog === 'channelEdit'}" >
      <app-icon iconName="tag"></app-icon>
      <h2>Entwicklerteam</h2>
      <app-icon iconName="arrowDown"></app-icon>
    </div>
    <div>
      <app-avatar-bar (click)="workspace.openDialog('memberList')"></app-avatar-bar>
      <div class="bg-circle">
        <app-icon (click)="workspace.openDialog('addMember')" class="icon--hover scale" iconName="personAdd"></app-icon>
      </div>
    </div>
  </header>
 
  <main (scroll)="chatLoadOlderMessages($event)" #chatScrollContainer class="chat">
    @for(group of groupedPrivateChats ; track group.date ) {
    <div class="day-line">
      <div class="seperator"></div>
      <div class="box--bordered day-box">{{this.convertTime(group.date)}}</div>
      <div class="seperator"></div>
    </div>
  
    @for(message of group.messages; track message.id) {
        <div>
    <chat-message [Message]="message"></chat-message>
</div>
    } } 
    
  </main>
  <div class="text-field">
    <app-text-message-field (messageSend)="sendMessageToDB($event)"></app-text-message-field>
    </div>
</section>
@if(workspace.currentDialog === 'channelEdit') {
    <div #popUps class="pop-up">
    <channel-edit></channel-edit>
</div>
  } @else if (workspace.currentDialog === 'addMember') {
    <div #popUps  class="pop-up addMember">
      <add-people-overlay></add-people-overlay>
  </div>
  }@else if (workspace.currentDialog === 'memberList') {
    <div #popUps  class="pop-up" >
      <app-member-list></app-member-list>
    </div>
  }@else if (workspace.currentDialog === 'createChannel') {
    <div #popUps class="pop-up">
      <app-create-channel></app-create-channel>
    </div>
  }
  


