@use "../../shared/scss/abstracts/_index.scss" as *;
@use "../../shared/scss/_boxes.scss";
@use "../../shared/scss/_hovers.scss";

section {
  border-radius: 30px;
  // padding: 20px;
  background-color: white;
  box-sizing: border-box;
  // max-height: 808px;
  // max-height: 940px;
  // height: 100%;
  // height: 77%;


  header {
    @include dflex(space-between);
    padding: 30px 45px 0 45px;
    // margin-bottom: clamp(55px, 10vh, 150px);
    h2 {
      margin: 0;
    }

    > div {
      @include dflex(flex-start, center, 10px);
    }
  }

  .text-field {
    padding: 0 clamp(10px, 45px, 2vw);
    // margin-top: 60px;
    margin-top: 8px;
    padding-bottom: 40px;
  }
}

.chat {
  overflow-y: auto;
  // max-height: 815px;
  max-height: 575px;
  min-height: 515px;
  height: 70%;
}

.bg-circle {
  background-color: $colorBG;
  width: 40px;
  height: 40px;
  @include dflex(center, center);
  border-radius: 40px;
}

.seperator {
  height: 1px;
  background-color: $colorLines;
  margin: 0 15px;
  flex: 1;
}

.day-line {
  width: 100%;
  @include dflex(flex-start, center);

  .seperator {
    &:nth-child(1) {
      margin-right: 0;
    }
    &:nth-child(3) {
      margin-left: 0;
    }
  }

  .box--bordered {
    padding: 5px 15px;
  }
  margin-top: 8px;
  margin-bottom: 20px;
}

.day-box {
  width: fit-content;
}

.field--hover {
  padding: 0 10px;
}

.selected {
  background-color: $colorBG;
  width: fit-content;
  border-radius: 40px;
  color: $colorPurple3;
  app-icon {
    filter: $colorTransformPurple3;
  }
}
.pop-up {
  @include pop-up(absolute, 100%, 872px, 616px, clamp(40%, 2vh, 50%), 50%, 0, -50%, -50%);
  &.addMember {
    right: 0%;
    top: 20%;
    left: unset;
    transform: translate(0, 0);
  }
}

.emptyChat{
  @include dflex($a:flex-start !important,$d: column !important);
  width: 90%;

  >div {
    width: 100%;
  }
}

@media(max-width:$mobileVersion) {
  section{
    border-radius: 0;
  }
  header {
    padding: 12px 45px 12px 45px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@media(max-height:1024px) {
  .chat {
    max-height: 60%;
    min-height: 0px;

  }
  section {
    height: 98%;
    margin-top: 12px;
  }

  h2 {
    font-size: 20px;
  }
  .text-field{
    padding-bottom: 10px;
  }
}
