<section>
  <header>
    <div class="field--hover" (click)="workspace.openDialog('channelEdit')"[ngClass]="{'selected': workspace.currentDialog === 'channelEdit'}" >
      <app-icon iconName="tag"></app-icon>
      <h2>Entwicklerteam</h2>
      <app-icon iconName="arrowDown"></app-icon>
    </div>
    <div>
      <app-avatar-bar (click)="workspace.openDialog('memberList')"></app-avatar-bar>
      <div class="bg-circle">
        <app-icon (click)="workspace.openDialog('addMember')" class="icon--hover scale" iconName="personAdd"></app-icon>
      </div>
    </div>
  </header>
 
  <main class="chat">
    @for(dbObject of [1]; track dbObject) { @for(time of [1,2,3]; track time ) {
    <div class="day-line">
      <div class="seperator"></div>
      <div class="box--bordered day-box">Dienstag, 14 Januar</div>
      <div class="seperator"></div>
    </div>
    @for(message of [1]; track message) {
        <div>
    <chat-message></chat-message>
</div>
    } } }
    
  </main>
  <div class="text-field">
    <app-text-message-field></app-text-message-field>
    </div>
</section>
@if(workspace.currentDialog === 'channelEdit') {
    <div class="pop-up">
    <channel-edit></channel-edit>
</div>
  } @else if (workspace.currentDialog === 'addMember') {
    <div class="pop-up addMember">
      <add-people-overlay></add-people-overlay>
  </div>
  }@else if (workspace.currentDialog === 'memberList') {
    <div class="pop-up" >
      <app-member-list></app-member-list>
    </div>
  }


